<div class="actions" [style.margin-left.vh]="leftMarginVh">
  <button class="back button" *ngIf="(buttons$ | async).back" [routerLink]="['/manage-tasks']">Назад</button>
  <button class="edit button" *ngIf="(buttons$ | async).edit_task" (click)="editTask()">Редактировать</button>
  <button class="add button" *ngIf="(buttons$ | async).new_task" [routerLink]="['/add-task']" [state]="{create: true}" (click)="createTask()">Добавить задачу</button>
  <button class="delete button" *ngIf="(buttons$ | async).delete_task">Удалить</button>
</div>
