.main{
  display: flex;
  flex-direction: column;
  margin: 8px
}

.nav-actions{
  grid-area: nav-actions;
  box-sizing: border-box;
  height: fit-content;
}



@media (max-width: 600px) {
  .nav-actions{
    margin-left: 0;
  }
}

