<div class="filters-main">

  <div class="filter-board">
    <div class="filter" >

      <p>Сортировка:</p>

      <label class="container-radio">Новые
        <input type="radio" value="asc" name="sort"  [formControl]="sort">
        <span class="checkmark-radio"></span>
      </label>

      <label class="container-radio">Старые
        <input type="radio" value="desc" name="sort" >
        <span class="checkmark-radio"></span>
      </label>
    </div>
  </div>

  <div class="filter-board">


    <div class="filter" [formGroup]="priorityForm">
      <p>Приоритет</p>

      <label class="container">{{priorities[0].name}}
        <input type="checkbox" formControlName="low">
        <span class="checkmark"></span>
      </label>

      <label class="container">{{priorities[1].name}}
        <input type="checkbox" formControlName="normal">
        <span class="checkmark"></span>
      </label>

      <label class="container">{{priorities[2].name}}
        <input type="checkbox" formControlName="high">
        <span class="checkmark"></span>
      </label>
    </div>


    <div class="filter" [formGroup]="tagsForm">
      <p>Отметка</p>

      <label class="container">{{tags[0].name}}
        <input type="checkbox" formControlName="research">
        <span class="checkmark"></span>
      </label>

      <label class="container">{{tags[1].name}}
        <input type="checkbox" formControlName="design">
        <span class="checkmark"></span>
      </label>

      <label class="container">{{tags[2].name}}
        <input type="checkbox" formControlName="development">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
