.content{
  background: #f9fafd;
}

.button{
  display: grid;
  align-items: center;
  justify-content: center;
  height: 34px;
  border-radius: 3px;
  padding: 0 8px;
  width: fit-content;
  border: 0;
}
